#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // display_name = "Default";
            bindings = <
                &kp EQUAL   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5              &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O       &kp P       &kp NUBS
                &kp ESC     &kp A       &kp S       &kp D       &kp F       &kp G               &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp APOS
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp LSHFT
                &mo LWR     &kp GRAVE   &none       &kp LEFT    &kp RIGHT                                   &kp UP      &kp DOWN    &kp LBKT    &kp RBKT    &mo LWR
                                                                &kp LCTRL    &kp LALT           &kp RALT    &kp RCTRL    
                                                    &kp LCMD    &kp BSPC    &kp DEL             &kp ENTER   &kp SPACE   &kp RCMD
            >;
        };

        lower_layer {
            // display_name = "Lower";
            bindings = <
                &none   &kp F1          &kp F2          &kp F3      &kp F4      &kp F5              &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11 
                &none   &bt BT_SEL 0    &out OUT_BLE    &none       &none       &none               &none       &none       &none       &none       &none       &none
                &none   &bt BT_SEL 1    &out OUT_USB    &none       &none       &none               &none       &none       &none       &none       &none       &none
                &none   &bt BT_SEL 2    &none           &none       &none       &bootloader         &bootloader &none       &none       &none       &none       &none
                &none   &bt BT_SEL 3    &bt BT_CLR      &none       &none                                       &none       &none       &none       &none       &none
                                                                    &none       &none               &none       &none    
                                                        &none       &none       &none               &none       &none       &none
            >;
        };
    };
};
